@import "tailwindcss";

#root {
  margin: 0 auto;
  text-align: center;
} 

:root {
  font-family: "DM Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background: linear-gradient(300deg,#fffff0,#c2c292,#ffffff);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}



@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}